* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, rgba(218,219,212,1) 80%, rgba(0,150,136,1) 80%);
    height: 100vh;
    font-family: sans-serif;
}

.containerChat {
   height: 530px;
}

.debugImg {
    width: 50px;
    border-radius: 50%;
} 

.container {
    background-color: #eaeaea;
}

.boxList {
    background-color: #ffff;
}

.nameListChat {
    font-weight: bold;
}

.backgroundMine {
    background-image: url(../img/mine.jpg);
    height: 90%;
    padding: 20px;
}

.inputMessage {
    margin: 0 auto;
    background-color: #f3eeea;
    height: 58px;
}

.sendingHour {
    font-size: 10px;
    text-align: end;
    margin: 0;
    color: grey;
}

.lastSending {
    font-size: 13px;
    margin: 0;
    color: gray;
}

.iconBell {
    padding: 20px;
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
    font-size: 20px;
}

.alertMessage {
    font-size: 16px;
}

.notificOn {
    margin: 0;
    font-size: 13px;
    color: grey;
}

.boxMessage {
    background-color: #8edafc;
    color: black;
    padding: 7px;
}

.message {
    width: 217px;
    position: relative;
    padding: 7px 5px;
    border-radius: 10px;
    margin-bottom: 3px;
}

.messageSent {
    background-color: #d5f9ba;
    left: 600px;
}

.messageReceived {
  background-color: white;
}

.selectChat {
    background-color: #e9ebeb;
}

.cursor-pointer{
    cursor: pointer;
}

