* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: teal;
    font-family: sans-serif;
}

.debugImg {
    width: 50px;
    border-radius: 50%;
} 

.container {
    background-color: #eaeaea;
}

.backgroundMine {
    background-image: url(../img/mine.jpg);
    height: 90%;
}

.iconBell {
    padding: 20px;
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
    font-size: 20px;
}

.boxMessage {
    background-color: #8edafc;
    color: black;
}

.messageSent {
    display: flex;
    flex-direction: row-reverse;
}

.messageReceived {
    
}