* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: teal;
    font-family: sans-serif;
}

.debugImg {
    width: 50px;
    border-radius: 50%;
} 

.container {
    background-color: #eaeaea;
}

.backgroundMine {
    background-image: url(../img/mine.jpg);
    height: 88%;
    padding: 20px;
}

.iconBell {
    padding: 20px;
    background-color: white;
    border-radius: 50%;
    color: #8edafc;
    font-size: 20px;
}

.boxMessage {
    background-color: #8edafc;
    color: black;
}

.message {
    width: 217px;
    position: relative;
    padding: 7px 5px;
    border-radius: 10px;
    margin-bottom: 3px;
}

.messageSent {
    background-color: #d5f9ba;
    left: 600px;
}

.messageReceived {
  background-color: white;
}

.selectChat {
    background-color: #e9ebeb;
}

.cursor-pointer{
    cursor: pointer;
}

